<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:configuration.properties</value>
		</property>
	</bean>


	<bean id="CustomerService" class="com.springservlet.service.impl.CustomerServicesImpl">
		<property name="customerDAO">
			<bean class="com.springservlet.dao.impl.CustomerDAOImpl">
				<property name="connection">
					<bean class="com.springservlet.mysql.MySqlConnectionFactory">
						<property name="prop">
							<bean class="com.springservlet.models.ConnectionProperties">
								<property name="user" value="${com.jdbc.user}"></property>
								<property name="password" value="${com.jdbc.password}"></property>
								<property name="url" value="${com.jdbc.url}"></property>
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>
	
	
</beans>
